@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mochiy+Pop+P+One&family=Oswald:wght@600&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
  background-image: linear-gradient(163deg, #8b8b8b, #614110);
  padding: 0;
  margin: 0;
  }
@media screen and (min-width: 320px) {
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: static;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-image: linear-gradient(163deg, #706872, #e8e7e9);
  }
  .navbarmenu {
    padding-bottom: 100px;
    padding-right: 50px;
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30;
    list-style-type: none;
  }
  
  /*------------Css index-----------*/
  .homemed {
    display: grid; 
    grid-template-columns: 0.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    background-image: linear-gradient(163deg, #706872, #e8e7e9);
    grid-template-areas: 
      "texto-index"; 
  }
  .titulo-med{
    padding-left: 45px;
  }
  .texto-index {
    display: flexbox;
    padding-left: 40px;
    padding-bottom: 20px; 
    grid-area: texto-index; 
  }
  .artmenu{
    display: none;
  }
  .img-med{
    display: none;
  }
  .img-dest{
    display: flex;
    flex-direction: column;
  }
  .img-des{
    padding-left: 10px;
    width: 350px; height: 150px;
  }
  .imgdest{
    height: 250px;
    width: 250px;
    padding-left: 60px;
  }
  .txtimg{
    display: none;
  }
  .footer{
    background-image: linear-gradient(163deg, #706872, #e8e7e9);
    display: flex;
    justify-content: space-evenly;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter{
    background-color: aqua;
    color: aliceblue;
  }
  .fa-instagram{
    background-color: rgb(241, 238, 30);
    color: brown;
  }
  /*------------Css Articulos-----------*/
  .art-lists {
    display: grid; 
    grid-template-columns: 1.5fr 0.7fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "art1 img-art1"
      "art2 img-art2"
      "art3 img-art3"
      "art4 img-art4"; 
  
  }
  .art1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1cm;
    padding-left: 100px;
    grid-area: art1;
  }
  .art2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1cm;
    padding-left: 100px;
    grid-area: art2;
  }
  .art3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1cm;
    padding-left: 100px;
    grid-area: art3;
  }
  .art4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1cm;
    padding-left: 100px;
    grid-area: art4;
  }
  
  .img-art1{
    display: flex;
  }
  .img-art2{
    display: flex;
  }
  .img-art3{
    display: flex;
  }
  .img-art4{
    display: flex;
  
  }
  .imgart{
    display: flex;
    padding-left: 0px;
    height: 100px;
    width: 150px;
  }
  /*------------Css Servicios-----------*/
  
  .list-serv {
  display: grid;
  padding-top: 0px; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.8fr 0.8fr 0.8fr 1.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "serv1"
    "serv2"
    "serv3"
    "img-serv";
  }
  .serv1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    grid-area: serv1;
    padding-left: 100px;
    padding-top: 50px; 
  }
  .serv2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    grid-area: serv2;
    padding-left: 100px; 
    padding-top: 50px;
  }
  .serv3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    grid-area: serv3;
    padding-left: 100px;
    padding-top: 50px; 
  }
  .img-serv {
    padding-left: 70px;
    padding-top: 50px;
    grid-area: img-serv; 
  }
  .img-serv1{
    width: 200px;
    height: 200px;
  }
  /*------------Css Contacto-----------*/
  .form{
  display: inline-block;
  padding: 1cm;
  padding-left: 30px;
}
.ubicaccion{
  padding: 1cm;
  margin: auto;
  padding-left: 30px;
  width: 300px;
  height: 300px;
}
/*------------Css Nosotros-----------*/
.titulo-nosotros{
  padding: 1cm;
  padding-left: 150px;
  font-family: 'Inconsolata', monospace;
}
.textnos{
  display: flex;
  text-align: justify;
  padding-left: 0px;
  font-family: 'Rubik', sans-serif;
}
.img-nos{
  padding: 1cm;
  padding-left: 40px;
  height: 200px;
  width: 270px;
}
/*-----------------------------------*/
/*---------------768px---------------*/
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    padding-right: 0px;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: static;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-image: linear-gradient(163deg, #706872, #e8e7e9);
  }
  .navbarmenu {
    padding-bottom: 100px;
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30;
    list-style-type: none;
  }
  .img-des{
    height: 300px; width: 600px;
    padding-left: 80px;
  }
  .homemed {
    display: grid; 
    grid-template-columns: 0.8fr 1.3fr 1.1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    background-image: linear-gradient(163deg, #706872, #e8e7e9);
    grid-template-areas: 
      "artmenu texto-index img-med"; 
  }
  .artmenu {
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    grid-area: artmenu;
   }
   .titulo-med{
     padding-left: 50px;
   }
  .texto-index {
    display: flexbox;
    align-self: center; 
    grid-area: texto-index; 
  }
  .img-med {
    display: none;
    grid-area: img-med;
  }
  .txtimg{
    display: none;
  }
  /*
  .img-dest{
    display: flex;
    flex-direction: column;
  }
  .imgdest{
    height: 250px;
    width: 250px;
    padding-left: 250px;
  }*/
}
/*------------------------------------*/
/*---------------1200px---------------*/
@media screen and (min-width: 1200px) {
/*------------Css index-----------*/

.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	position: static;
	width: 100%;
	height: 40px;
	z-index: 1;
  background-image: linear-gradient(163deg, #706872, #e8e7e9);
}
.navbarmenu {
	display: flex;
	flex-flow: row nowrap;
  padding-bottom: 100px;
  padding-right: 0px;
	width: 50%;
	max-width: 1200px;
	justify-content: space-around;
	align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30;
  list-style-type: none;
}

.img-des{
  height: 300px; width: 1300px;
  padding-left: 260px;
  padding-top: 25px;
}

.homemed {
  display: grid; 
  grid-template-columns: 0.8fr 1.3fr 1.1fr; 
  grid-template-rows: 1fr; 
  background-image: linear-gradient(163deg, #706872, #e8e7e9);
  grid-template-areas: 
    "artmenu texto-index img-med"; 
}
.artmenu {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  grid-area: artmenu;
 }
 @keyframes titmed {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
 .titulo-med{
  width: 100px;
  height: 100px;
  padding-left: 200px;
  position: relative;
  background-color: rgba(8, 8, 8, 0);
 }
 .titulo-med:hover{
  animation-name: titmed;
  animation-iteration-count: infinite;
  animation-duration: 4s; 
 }
 
.texto-index {
  display: flexbox;
  align-self: center; 
  grid-area: texto-index; 
}
.img-med {
  display: flex;  
  grid-area: img-med;
}
.img-dest{
  display: flex;
  flex-direction: row;
}

.content_img{
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 100px;
 }
 .txtimg{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 70px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 .content_img:hover{
  cursor: pointer;
 }
 .content_img:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 } 
 
/*------------Css Articulos-----------*/
.art-lists {
  display: grid; 
  grid-template-columns: 1.5fr 0.7fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "art1 img-art1"
    "art2 img-art2"
    "art3 img-art3"
    "art4 img-art4"; 

}
.art1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1cm;
  padding-left: 550px;
  grid-area: art1;
}
.art2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1cm;
  padding-left: 550px;
  grid-area: art2;
}
.art3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1cm;
  padding-left: 550px;
  grid-area: art3;
}
.art4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1cm;
  padding-left: 550px;
  grid-area: art4;
}

.img-art1{
  display: flex;
}
.img-art2{
  display: flex;
}
.img-art3{
  display: flex;
}
.img-art4{
  display: flex;

}
.imgart{
  display: flex;
  padding-left: 200px;
  height: 300px;
  width: 300px;
}


/*------------Css Servicios-----------*/
.list-serv {
  padding-top: 100px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.8fr 1.2fr; 
  gap: 0px 0px;
  grid-template-areas: 
    "serv1 serv2 serv3"
    "img-serv img-serv img-serv";
}
.serv1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  grid-area: serv1;
  padding-left: 330px; 
}
.serv2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  grid-area: serv2;
  padding-left: 240px; 
}
.serv3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  grid-area: serv3;
  padding-left: 200px; 
}
.img-serv {
  padding-top: 50px;
  padding-left: 550px; 
  grid-area: img-serv;
}
.img-serv1{
  height: 500px;
  width: 800px;
}
/*------------Css Nosotros-----------*/
.titulo-nosotros{
  padding: 1cm;
  padding-left: 850px;
  font-family: 'Inconsolata', monospace;
}
.textnos{
  display: flex;
  text-align: justify;
  padding-left: 650px;
  font-family: 'Rubik', sans-serif;
}
.img-nos{
  padding: 1cm;
  padding-left: 500px;
  height: 300px;
  width: 750px;
}
/*------------Css Contacto-----------*/
.form{
  display: inline-block;
  padding: 1cm;
  padding-left: 800px;
}
.ubicaccion{
  height: 450px;
  width: 600px;
  padding: 1cm;
  margin: auto;
  padding-left: 650px;
}
.footer{
  background-image: linear-gradient(163deg, #706872, #e8e7e9);
  display: flex;
  justify-content: space-evenly;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter{
  background-color: aqua;
  color: aliceblue;
}
.fa-instagram{
  background-color: rgb(241, 238, 30);
  color: brown;
}
}
